{# NetIdea WebBase Bundle - Navigation Bar (White Label)
   Override in your project: templates/_partials/navbar.html.twig or templates/bundles/NetIdeaWebBaseBundle/_partials/navbar.html.twig
#}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">
      {{ brandName|default('Your Brand') }}
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        {% for item in navItems|default([]) %}
          <li class="nav-item">
            <a class="nav-link" href="{{ item.url }}">{{ item.label }}</a>
          </li>
        {% endfor %}
      </ul>

      {# Theme Toggle Button #}
      <button type="button" class="btn btn-link nav-link" id="theme-toggle" aria-label="Toggle theme">
        <i class="fas fa-sun" id="theme-icon-light"></i>
        <i class="fas fa-moon" id="theme-icon-dark"></i>
      </button>
    </div>
  </div>
</nav>
