/* ============================================================================
   WebBase - Form Styles
   ============================================================================ */

[data-bs-theme='light'] {
  // Forms - Light Theme
}
