/* ============================================================================
   WebBase - Form Styles
   ============================================================================ */

[data-bs-theme='dark'] {
  // Forms - Dark Theme
}
